{{ define "main" }}
<div class="main-content">
    <!-- Begin Landing
        ================================================== -->
    <div class="container container-gradient mt-5">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-10">
                <div class="container-fluid mb-5">
                    <h2 class="d-flex justify-content-center align-items-center mb-4">{{ .Title }}</h2>
                    <p class="lead text-center">{{ .Params.subtitle }}</p>
                </div>
                <div class="container-fluid mt-5">
                    <!-- Contact form -->
                    {{ partial "_shared/subscription-form.html" . }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}