<!--  favicon -->
<link rel="shortcut icon" href="{{ .Site.Params.logo.favicon }}" type="image/x-icon" />
<link rel="apple-touch-icon" href="{{ .Site.Params.logo.favicon }}">
<!--  apple-touch-icon -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ .Site.Params.logo.favicon }}">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ .Site.Params.logo.favicon }}">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ .Site.Params.logo.favicon }}">
<link rel="apple-touch-icon-precomposed" href="{{ .Site.Params.logo.favicon }}">
