<head>
	{{ partial "widgets/dataLayer-init.html" . }}
	{{ partial "widgets/gtag-manager-head.html" . }}

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Favicon -->
	{{ partial "_shared/favicons.html" . }}

	<title>{{ .Page.Title }} | {{ .Site.Title }}</title>

	{{ with .Site.Params.meta.description }}
	<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.meta.keywords }}
	<meta name="keywords" content="{{ . }}">{{ end }}

	{{ with .Params.noindex }}
    <link rel="robots" content="noindex">
    {{ end }}

	{{ template "_internal/twitter_cards.html" . }}
	{{ template "_internal/opengraph.html" . }}

	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
		integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Odibee+Sans|Special+Elite&display=swap" rel="stylesheet">
	<link href="{{ `/assets/css/medium.css` | urlize | relURL }}" rel="stylesheet">
	<link href="{{ `/assets/css/additional.css` | urlize | relURL }}" rel="stylesheet">
	<link href="{{ `/assets/css/tables.css` | urlize | relURL }}" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

	{{ partial "widgets/rss.html" . }}

	<!-- RECAPTCHA -->
	{{ if isset .Params "with_form" }}
	<script src='https://www.google.com/recaptcha/api.js'></script>
	{{ end }}

	{{ if isset .Params "podcast" }}
	<link rel="stylesheet" href="https://cdn.plyr.io/3.5.10/plyr.css" />
	{{ end }}

	<!-- SEGMENT.IO -->
	{{ if isset .Params "segment_key" }}
	{{ partial "widgets/segment-init.html" . }}
	{{ end }}
</head>