<div class="container-fluid mt-3 mb-2">
    <form id="tphForm" name="{{ .Slug }}" class="resource-form" action="https://o0mrh37931.execute-api.eu-west-1.amazonaws.com/prod/download" method="POST">
        <div class="contact-form-success alert alert-success d-none mt-4" id="messageSuccess">
            <strong>Genial!</strong> Todo en orden, comprueba tu inbox para completar el proceso.
        </div>

        <div class="contact-form-error alert alert-danger d-none mt-4" id="messageError">
            <strong>Uoops!</strong> Ocurrió algo inesperado, inténtalo de nuevo.
            <span class="mail-error-message text-1 d-block" id="mailErrorMessage"></span>
        </div>

        <div class="form-row">
            <div class="form-group col">
                <input type="email" value="" data-msg-required="Introduce tu e-mail" placeholder="E-mail"
                    data-msg-email="Introduce un e-mail válido" maxlength="100" class="form-control" name="email"
                    id="email" data-error="Es necesario introducir un e-mail" required>
            </div>
        </div>
        <div class="form-row ml-4">
            <div class="form-group col">
                <input type="checkbox" class="custom-control-input form-control" id="terms" name="terms"
                    data-msg-required="Por favor, debes aceptar los términos para poder continuar" required>
                <label class="custom-control-label" style="font-size: 14px; padding-top: 3px;" for="terms">Acepto los <a
                        href="/aviso-legal">términos</a> y <a href="/politica-de-privacidad">condiciones</a>
                    establecidas</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <div id='recaptcha' class="g-recaptcha" data-sitekey="6LfVuN0UAAAAAMdyjCvCVkgW9ldKpw789L6N_B3q"
                    data-callback="submitForm" data-size="invisible" data-badge="bottomleft">
                </div>
                <input type="submit" value="Enviar" class="btn btn-block btn-primary btn-modern"
                    data-loading-text="Enviando...">
            </div>
        </div>
    </form>
</div>