<!-- begin post -->
<div class="listfeaturedtag h-100">
    <div class="row h-100">
        <div class="col-12 col-md-12 col-lg-6 pr-lg-0"  style="height: 255px;">
            <div class="h-100">
                <div class="wrapthumbnail mt-4 ml-3">
                    <a href="{{ .Permalink }}">
                        <!-- Post Featured Image -->
                        {{ with .Params.featured_image }}
                        <img class="featured-image img-fluid shadowed" src="{{ . }}"
                            alt="{{ substr (substr (. | urlize) 0 -4) 7 }}">
                        {{end}}
                        <!-- End Featured Image -->
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
            <div class="h-100 card-group">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">
                            <a class="text-dark" href="{{ .Permalink }}">{{ .Title }}</a>
                            {{ with .Params.rating }}
                            <div class="mb-2 mt-2 font-weight-normal">
                                {{ partial "widgets/star_rating_postbox.html" . }}
                            </div>
                            {{ end }}
                        </h2>
                        <p class="card-text">{{ .Summary }}</p>
                        <a href="{{ .Permalink }}"><button class="btn btn-lg" style="background-color: black; color: white ;">Descargar</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->